* {
  padding: 0;
  margin: 0;
}

.green {
  width: 3rem;
  height: 3rem;

  border-radius: 100%;
}

.red {
  width: 3rem;
  height: 3rem;

  border-radius: 100%;
}

h1 {
  text-align: center;
  padding-bottom: 2rem;
}