.container {
    color: white;
}

.min-width {
    width: min-content;
}

.wrap {
    height: 10rem;
    width: 20rem;
    display: grid;
}

.btn-style {
    width: 7rem;
    border: none;
    background-color: grey;
}

.btn-style:hover {
    background-color: rgb(247, 200, 48);
}

.text-decoration {
    text-decoration: none;
    color: black;
}

.text-decoration:hover {
    text-decoration: none;
    color: black;
}